html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a{
	color:white;
}
p{
	padding: 15px;
	color: #333333;
}
p:first-letter{
	font-family: 'Glegoo', serif;
	font-size: 25px;
}
ul{
	list-style: none;
}
.clear{
	clear: both;
}
i{
	font-style: italic;
}
body{
	background: black url('images/bg_bd.jpg') no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	background-position: -26px 0;
}
header{
	height: 207px;
	background: black;
	border-bottom: 5px solid #d0da9e;
}
header img{
	margin: 30px 20px 22px 0;
}
.conteneur_header{
	width: 950px;
	margin: 0 auto;
}
.logo{
	float: left;
}
.logo img{
	width: 80px;
}
h1{
	font-size: 38px;
	padding: 20px;
	font-family: 'Glegoo', serif;
	font-weight: normal;
	color: white;
	line-height: 96px;
	text-shadow: 3px 2px 1px #313131;
	float: left;
}