.parallax-window {
    min-height: 400px;
    background: transparent;
}

/* ************************************** */
/* ***************** NAV **************** */
/* ************************************** */
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
color: #DD5322;
}

.navbar-custom .nav li a, .navbar-custom .navbar-toggle {  
    color: #000;
    font-size:20px;
    font-weight: bolder;
}


/* ************************************** */
/* ************ HOUDA JAADAR ************ */
/* ************************************** */
header {
    background: none;
    
}

#nomPrenom{
    
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 80px;
    letter-spacing: 15px;
    color : #000;
      position: relative;
    bottom: 108px;
}


#houda{
text-transform: capitalize;
}

#intro-text{
   margin-bottom: 100px;
}

*::-moz-selection {
    text-shadow: none;
    background: #fed136;
    color: #DD5322;
}
#poste{
    color: #000;
    font-size: 40px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style :inherit;
    padding-bottom: 100px;
}

.intro-lead-in {
  
    letter-spacing: 5px;
     position: relative;
    bottom: 155px;

}

/* #blocnomposte{
    padding-top: 300px;
} */

/* ************************************** */
/* **********BTN en savoir plus ******** */
/* ************************************** */
.btn-circle {
color:#DF5521;
width: 80px;
height: 80px;
margin-top:0;
padding: 7px 16px;
border: 2px solid black;
border-radius: 100% !important;
font-size: 40px;
color: #E46720;
background: transparent;
-webkit-transition: background 0.3s ease-in-out;
-moz-transition: background 0.3s ease-in-out;
transition: background 0.3s ease-in-out;
}


.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color:#000;
  background: rgba(255, 255, 255, 0.1);
}


.sp{
    padding-bottom: 15px;

}

/* ************************************** */
/* ***************TITRES********* ******** */
/* ************************************** */
h2{
    color:#E76B22;
}

h3 .section-subheading{
    color: #222222;
}

h4{
    color: #222222;
}



/* ************************************** */
/* **************Formulaire ************** */
/* ************************************** */
section#contact *::-moz-placeholder { /* WebKit browsers */
    color:white;
    font-weight: bolder;
     opacity: 1 !important;
}
section#contact{
    background-image: url(../img/cv.jpg);
     
}

section#contact .section-heading {
  color: #E76B22;
}

section#contact .form-group textarea.form-control {
  height: 236px;
}

section#contact .form-control{
border-color: #222222;
border-radius: 10px;
background-color: #E76B22;
opacity: 0.8;
/* margin-right: 50px; */


}

/* ************************************** */
/* **********BTN en savoir plus ******** */
/* ************************************** */
button#envoi{ 
    margin-right: 51px;
    margin-top: 8px;
   height: 60px;

}

button#envoi:hover,
#envoi:focus,
#envoi:active,
#envoi.active,
.open .dropdown-toggle.btn-primary {
background-color: #E76B22;
color: #FED136;
border-color: #f6bf01;
}


/* ************************************** */
/* ****************INTERET *************** */
/* ************************************** */
section#interet{
padding: 180px 0;    
}

/* ************************************** */
/* ************** A PROPOS ************* */
/* ************************************** */
section#services{
    padding: 300px 0;
}

/* ************************************** */
/* **********FORMATIONS ******** */
/* ************************************** */
#filet{
    border-bottom : 1px solid #000;
}


/* ************************************** */
/* **********EXPERIENCES ******** */
/* ************************************** */
#date{
    background-color: #FEC503;
    opacity: 0.5;

}

.timeline > li.timeline-inverted > .timeline-panel{
    padding-right: 0px;
    padding-left: 0px;

}

strong {
    color : #E77023;
}