#home{
	background: url(../img/frontcv.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: auto;
	min-height: 710px;	
	padding-top: 60px;
	color: black;
}

.header-text.btn{
	border: 1px solid #E1511D;
	border-radius: 0;
	padding: 10px 30px;
	height: 100px;
}

#houda{
	font-size: 50px;
}
.typed-cursor {
 
    background:#E1511D;   
}
hr{
	border-width: 3px;
	border-color: #c59a6d;  
	margin-top: 0px;
	margin-bottom: 25px;
}
#trait{
	border-width: 3px;
	border-color: #E1511D;  
	margin-top: 0px;
	margin-bottom: 25px;
}
nav#menu span.fa.fa-bars { 
    color: #E1511D;   
}

nav#menu span.fa.fa-bars:hover{
	color: #383838;
}

.close:hover{
	background-color:#E1511D;
}
.navmenu-default .navmenu-nav > .active > a, .navbar-default .navbar-offcanvas .navmenu-nav > .active > a, .navmenu-default .navmenu-nav > .active > a:hover, .navbar-default .navbar-offcanvas .navmenu-nav > .active > a:hover, .navmenu-default .navmenu-nav > .active > a:focus, .navbar-default .navbar-offcanvas .navmenu-nav > .active > a:focus {
    color: #E1511D;
    background-color: transparent;
}

.navmenu-default .navmenu-nav > li > a:hover, .navbar-default .navbar-offcanvas .navmenu-nav > li > a:hover, .navmenu-default .navmenu-nav > li > a:focus, .navbar-default .navbar-offcanvas .navmenu-nav > li > a:focus {
    color: #E1511D;
    background-color: transparent;
    }


#exp{
	color: #E1511D;
	font-weight: bolder;
}

#description{
	text-align: justify;
}
.team {
    border: 1px solid#E1511D;
	padding: 20px 20px;
	height: 400px;

}

h3{
	margin-top: 0px;
	margin-bottom: 0px;
}

h4{
	margin-bottom: 20px;
}
#description{
	text-align: justify;
}

#competence{
	padding-top: 60px;
	padding-bottom: 60px;
}

#clients{
	padding-top: 0px;
	padding-bottom: 0px;
}

#experience{
	padding-top: 60px;


}

#formation{
	padding-bottom: 60px;

}

#home a.down-btn span.fa.fa-angle-down {
    font-size: 26px;
    border: 2px solid #E1511D;
    border-radius: 2px;
    padding: 7px 5px;
    position: relative;
    margin-top: 100px;
    color:#E1511D;
    cursor: pointer;

}

.service:hover > h4, .service:hover > span.fa {
    color: #c59a6d;
}
.fa-cog {
    font-size: 3em;
}
.fa-desktop{
	font-size: 3em;
}
.fa-plus{
	font-size: 3em;
}
button.btn.read-more-btn{
	text-transform: uppercase;
	background: #c59a6d;
	color: #282f35;
	word-spacing: 2px;
	padding: 7px 30px;
	border-radius: 2px;
	font-size: 12px;
	color: #ffffff;
	transition: all 0.5s;
}
button.btn.read-more-btn:hover{
	background: #222222;
	color: #ffffff;
}

button.btn.send-btn{
	text-transform: uppercase;
	background: #c59a6d;
	color: #282f35;
	padding: 15px 35px;
	border-radius: 0;
	font-size: 12px;
	color: #ffffff;
	transition: all 0.5s;
}
button.btn.send-btn:hover{
	background: transparent;
	border: 1px solid #c59a6d;
	color: #ffffff;
}

#ad{
	color: #c59a6d; 
}


a.down-btn span.fa.fa-angle-down {
	margin-top: 30px;
	margin-bottom: 40px;
}

.fa-film {
    font-size: 3em;
}
.fa-trophy {
    font-size: 3em;
}
.fa-cutlery {
    font-size: 3em;
}
.fa-camera {
    font-size: 3em;
}

h2{
	color: #E1511D;
}

#overview-video {

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	text-align: center;
}

#overview-video .overlay{
	background: rgba(34, 34, 34, 0.85);
	height: auto;
	min-height: 200px;
	padding: 5% 0 ;
	color: #ffffff;
}

#telechargement{
	margin-top: 200px;
	color:#C59A6D;
	font-size: 17px;


    }


#interet{
	margin-bottom: 50px;
}
#interet h2{
	margin-top: 85px;
}

h4{
	color: #E1511D;
}

.hover-bg .hover-text {
  
    opacity: 1;

}

.centre{
	height:300px;;
  }
